.title {
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 65px;
    color: #9980FF;
    margin: 20px 0;
    margin-top: -10px;
    font-weight: 600;
}

.user-profile {
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px 40px 20px;
}

.username {
    font-family: 'Mukta Malar', sans-serif;
    color: #9980FF;
    margin-top: 24px;
    text-align: center;
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 35px;
}

.quick-actions {
    display: flex;
    justify-content: space-around;
    margin: 20px 20px 120px 20px;
}

.action-button {
    text-decoration: none;
    cursor: pointer;
}

.action-button i {
    font-size: 65px;
    color: #9980FF;
}

.action-label {
    font-family: 'Mukta Malar', sans-serif;
    font-size: 20px;
    color: #9980FF;
    text-align: center;
    margin-top: 20px;
    font-weight: 800;
    letter-spacing: -1px
  }

.category-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    text-align: center;
}

.category {
    font-family: 'Mukta Malar', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #9980FF;
    cursor: pointer;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: -1px;
}

.category i {
    font-size: 64px;
    margin-bottom: 5px;
    margin-top: -60px;
    color: #FF8383;
    border-radius: 80%; /* Makes the element circular */    
    box-shadow: 0 13px 10px rgba(124, 30, 247, 0.282); /* Adds a soft shadow */
}

.streak-counter {
    font-family: 'Mukta Malar', sans-serif;
    color: #9980FF;
    font-size: 22px;
    margin-top: -5px;
    font-weight: 800;
    letter-spacing: -1px;
}
